Repository aristides1000/awesome-events-back-end, pull requests merged in 2021-11, with the labels that each got.

#51 setup: Github/workflows actions & Rubocop linters check
  .github/workflows/linters.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config.ru
  test/channels/application_cable/connection_test.rb
  test/test_helper.rb
Labels: Back-end

#52 Set up the login procedure for the user, with proper authentication
  Gemfile
  Gemfile.lock
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/jwt_denylist.rb
  app/models/user.rb
  config/credentials.yml.enc
  config/environments/development.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20211115171826_devise_create_users.rb
  db/migrate/20211115173015_create_jwt_denylist.rb
  db/schema.rb
  docs/ERD.png
  test/fixtures/users.yml
  test/models/user_test.rb
Labels: Back-end

#53 Merge feature/generate-model branch into develop branch
  app/controllers/attendances_controller.rb
  app/controllers/events_controller.rb
  app/models/attendance.rb
  app/models/event.rb
  app/models/user.rb
  config/credentials.yml.enc
  config/routes.rb
  db/migrate/20211115195134_create_events.rb
  db/migrate/20211115195837_create_attendances.rb
  db/schema.rb
  db/seeds.rb
  test/controllers/attendances_controller_test.rb
  test/controllers/events_controller_test.rb
  test/fixtures/attendances.yml
  test/fixtures/events.yml
  test/models/attendance_test.rb
  test/models/event_test.rb
Labels: Back-end

#55 fix: Fix the login procedure for the user, with proper authentication
  Gemfile.lock
  app/controllers/logged_users_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/routes.rb
Labels: Back-end

#56 Modify controllers and routes to handle “Add Item” as a POST Request
  Gemfile
  Gemfile.lock
  app/controllers/events_controller.rb
  app/models/event.rb
  app/uploaders/image_uploader.rb
  config/credentials.yml.enc
  config/initializers/cloudinary.rb
  config/initializers/shrine.rb
  config/routes.rb
  db/migrate/20211115195134_create_events.rb
  db/schema.rb
Labels: Back-end

#57 feature: Modify a controllers & routes to delete events
  app/controllers/events_controller.rb
  app/models/event.rb
  config/routes.rb
Labels: Back-end

#58 Merge feature/reserver-event branch into develop branch
  app/controllers/attendances_controller.rb
  config/routes.rb
Labels: Back-end

#59 feat: Modify controllers and routes to handle “My Reservations” as a GET Request
  app/controllers/attendances_controller.rb
  app/controllers/events_controller.rb
  app/controllers/logged_users_controller.rb
  app/models/user.rb
  config/routes.rb
Labels: Back-end

#60 feat: Modify events#index to filter past events & order them
  app/controllers/events_controller.rb
Labels: Back-end

#61 Merge feature/list-attending-events branch into develop branch
  app/controllers/attendances_controller.rb
Labels: Front-end

#62 fix: Create a Details Page where the user can click the 'Reserve' button
  app/controllers/attendances_controller.rb
  app/controllers/events_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/attendance.rb
  app/models/event.rb
  db/migrate/20211115195134_create_events.rb
  db/migrate/20211115195837_create_attendances.rb
  db/schema.rb
  db/seeds.rb
Labels: Front-end

#63 fix: Add 'id' property to Attening Events
  app/controllers/attendances_controller.rb
Labels: Front-end

#64 feat: Add attendances#destroy controller
  app/controllers/attendances_controller.rb
  config/routes.rb
Labels: Back-end

#65 docs: Add descriptive README documentation
  README.md
Labels: Back-end

#68 Update Readme file
  README.md
  docs/ERD-Awesome-Events.png
  docs/ERD.png
  docs/Kanban-board-begining-task.png
  docs/Kanban-board-finish-all-task.png
Labels: Back-end

#66 Awesome Events (Back-End) [Final Capstone Project]
  .github/workflows/linters.yml
  .rspec
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/attendances_controller.rb
  app/controllers/events_controller.rb
  app/controllers/logged_users_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/attendance.rb
  app/models/event.rb
  app/models/jwt_denylist.rb
  app/models/user.rb
  config.ru
  config/credentials.yml.enc
  config/environments/development.rb
  config/initializers/cloudinary.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20211115171826_devise_create_users.rb
  db/migrate/20211115173015_create_jwt_denylist.rb
  db/migrate/20211115195134_create_events.rb
  db/migrate/20211115195837_create_attendances.rb
  db/schema.rb
  db/seeds.rb
  docs/ERD-Awesome-Events.png
  docs/Kanban-board-begining-task.png
  docs/Kanban-board-finish-all-task.png
  spec/controllers/event_spec.rb
  spec/controllers/user_spec.rb
  spec/factories.rb
  spec/models/attendacne_spec.rb
  spec/models/event_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/factory_bot.rb
  test/channels/application_cable/connection_test.rb
  test/controllers/attendances_controller_test.rb
  test/controllers/events_controller_test.rb
  test/fixtures/attendances.yml
  test/fixtures/events.yml
  test/fixtures/users.yml
  test/models/attendance_test.rb
  test/models/event_test.rb
  test/models/user_test.rb
  test/test_helper.rb
Labels: Front-end, Back-end, Final
